<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center text-success">{{viewTitle}} Notes</h2>
                <form action="/add" method="post">
                    <input type="hidden" name="_id" value="{{notes._id}}">
                    <label for="">Title</label>
                    <input type="text" name="title" class="form-control" value="{{notes.title}}">

                    <label for="">Description</label>
                    <input type="text" name="desc" class="form-control" value="{{notes.desc}}">


                    <button type="submit" class="btn btn-success mt-4 "
                        onclick="alert('Product Added Sucessfully')">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>